* {
    box-sizing: border-box;
}

body {
    color: #333;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f6f6f6;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 600;
    position: absolute;
    top: 0;
    text-align: center;
}

details {
    min-width: 300px;
}